<!-- <p>egg works!</p>
<img class="product-image" data-lazy="https://dao54xqhg9jfa.cloudfront.net/ProductMerchantdising/9b68df08-94fe-02c0-569f-5b336bdba485/original/1574118852.2303--2019-11-1904_44_12--260.jpeg" alt="Classic Eggs - Pack Of 6" title="Classic Eggs - Pack Of 6" src="https://dao54xqhg9jfa.cloudfront.net/ProductMerchantdising/9b68df08-94fe-02c0-569f-5b336bdba485/original/1574118852.2303--2019-11-1904_44_12--260.jpeg"> -->
    
            
<div class="login-bar">
    <div>
        <img src="https://d2407na1z3fc0t.cloudfront.net/prodDev/pr_fhijtgw0ctk/2/prod_display_image/1613378298.5141--2021-02-1514:08:18--738" alt="">
    </div>
    <div class="sing">
    
<h1>Sign in/Sign up</h1>
<input type="text " placeholder="Enter Mobile Number">
<div><button>proceed</button></div>

<p>By signing in you agree to our <span>terms and conditions</span></p>
</div>
</div>