<div class="card">
    <img class="card-img-top" [src]="card.imageLink">
    <div class="card-body">
      <h4 class="card-title">{{card.productName}}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{card.description}}</h6>
    </div>

      <div class="cart-price">
             <h5><span>MRP:</span>₹{{card.price}}</h5>
        <button class="btn" *ngIf="card.count==0 else moreThanZero" (click)="addToCart()">ADD TO CART</button>
      <ng-template #moreThanZero>
        <button (click)="removeFromCart()">-</button>{{card.count}} <button (click)="addToCart()">+</button>
      </ng-template>
      </div>
      
      
    
  </div>