.cards{
    display: flex;
 
    
}
.row{

    height: 300px;
    min-height: 500px;
   
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 200px;
}
.card-body {
    flex: 1 1 auto;
    min-height: 100px;
    padding: 1.25rem;
    height: 200px;
}
button{
    // margin-bottom: 5px;
    // margin-right: 5px;
    background: red;
    color: white;
   float: right;
   
}
.cart-price{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
  span{
      font-size: 15px;
  }
  h5{
      color:red;
  }

